imbalanced-learn==0.14.1
markdown==3.10
markdown-it-py==4.0.0
markupsafe==3.0.3
matplotlib==3.10.6
nltk==3.9.1
numpy==1.26.4
pandas==2.3.3
pip==26.0.1
plotly==6.3.0
pluggy==1.6.0
scikit-learn==1.7.2
scikit-multilearn==0.2.0
scikit-optimize==0.10.2
shap==0.48.0
streamlit==1.53.1
streamlit-shap==1.0.2
